*{
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

footer{
	background-color: #E7E8E6;
	color: #888888;
	padding: 2em 4em 2em 10em;
	display: flex;

}
footer h1{
	color: black;
	font-weight: bold;
	font-size: 1.5em;
	margin-bottom: 1em;
}

footer .ourstores{
	display: flex;
	flex-direction: column;
	width: 30%;
}

footer .blogpost{
	display: flex;
flex-direction: column;

margin-right: 1em;
}

footer .support{
	display: flex;
flex-direction: column;
width: 20%;
}

<<<<<<< HEAD
.imagenseniorita img{
	width: 100%;
}
.main{
	display: flex;
	flex-direction: column;
}
.title{
	width: 100%;
	padding: 1em;
	font-size: 1em;
	font-weight: bold;
	color: #888888;
	text-align: center;

}
.articulos{
	padding-right: 10%;
	padding-left: 10%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	margin-bottom: 2em;
}
.articulo{
	position: relative;
	border: solid 2px black;
	width: 20%;
	text-align: center;
}
.articulo img{
	width: 100%;
}
.descuento{
	position: absolute; 
	left: 0px;
	top: 15px;
	padding: 0.3em 1em 0.3em 1em;
	background-color: red;
	color: white;
}
.brands{
	display: flex;
	justify-content: space-between;
	padding-left: 15%;
	padding-right: 15%;
	margin-bottom: 1em;
}
.brands img{
	border: solid 2px #CDC9C2;
}

.contenedor{
	display: flex;
	flex-flow: column;
}

header{
	width: 100%;
	padding: 0.7em;
	padding-left: 5em;
	background-color: white;
	/*FLEX*/
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;}

header nav{
	
	/*FLEX*/
	display: flex;
	flex-wrap: wrap;
	align-items: center;}
nav a{
		font-weight: bold;
	font-size: 17px;
	color: #0B0603;
	text-align: center;
	padding: 25px 25px 25px 25px;}
nav a:hover{
	font-size: 17px;
	font-weight: bold;
	color: #9D9998;
	text-align: center;
	transition-duration: 1s;
	border-bottom: solid 2px red;}


